.nav {
  width: 100%;
  position: relative;
}
.nav .nav-list {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 20px 100px;
}
.nav .nav-list ul {
  display: inline-block;
}
.nav .nav-list ul li {
  color: #fff;
  float: left;
  padding: 0 10px;
}
.nav .nav-list ul li a {
  color: #fff;
}
.nav .nav-bg {
  background: url('../images/master.jpg') no-repeat center;
  height: 1167px;
}
.nav a {
  color: #fff;
  font-size: 24px;
  font-family: 'freeagent';
  text-shadow: 0px 0px 10px #fff;
}
.nav a:hover {
  color: #fff;
}
